# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore node_modules in the frontend directory
frontend/node_modules/

# Ignore build output in the frontend directory
frontend/build/